.login-form-container {
background: linear-gradient(135deg, #f5f7fa 0%, #6f96d6 100%);
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
margin: auto;

top: 10vh;
}

.login-form-container .progressbar {
margin-bottom: 20px;
}

.formulario {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin: auto;
}

.containerlogin {
    background-color: hsl(0, 0%, 96%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxlogin {
    background-color: #fff;
    padding: 40px;
    width: 100%;
    border-radius: 20px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
  
.infobox p {
    font-size: 14px;
    margin-bottom: 40px;
}

.infobox h1{
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 15px;
}

.icons {
    color: rgb(218, 120, 84);
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius:10px;
    padding: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 100ms ease-in-out;
}

.icons:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.161);
}

.boxlogin input {
    border-radius:10px;
    padding: 13px;
    border: 1px solid rgba(0, 0, 0, 0.08);
}

.boxlogin input:hover {
    border: 1px solid black;
}

.boxlogin form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.boxlogin form span {
    font-size: 15px;
}

.boxlogin form button, #demobtn {
    padding: 15px 20px;
    background-color: #212B36;
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

#demobtn {
    margin-top: 30px;
    width: 100%;
    transition: 200ms ease-in-out;
}

#demobtn:hover {
    background-color: #0D6EFD;
    border-color: #0D6EFD;
}

.nomes #nome {
    width: 150px;
}